/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/

@import url('https://fonts.googleapis.com/css2?family=Baguette+Script&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@font-face {
  font-family: 'PinyonScript';
  src: url('../webfonts/PinyonScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amasis MT Pro';
  src: url('../webfonts/amasis-mt-medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quintessential';
  src: url('../webfonts/Quintessential-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'AbrilFatface';
  src: url('../webfonts/ADLaMDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../webfonts/centurygothic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Baguet Script';
  src: url('../webfonts/Melvastype\ -\ Baguet\ Script\ Regular.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lucida Calligraphy';
  src: url('../webfonts/Lucida\ Calligraphy\ Font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: Tahoma, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #1e1e1e;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  background-color: #f5f5f5;
  font-family: "Calibri", sans-serif;
}

::selection {
  background: #0071f8;
  color: #fff;
}

::-moz-selection {
  background: #0071f8;
  color: #fff;
}


.section-heading {
  margin-bottom: 70px;
}

.section-heading h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 20px;
  line-height: 56px;
}

.section-heading h2 em {
  font-style: normal;
  color: #0071f8;
}

.section-heading h6 {
  color: #ee626b;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.icon-button a {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  padding: 0px 30px 0px 0px;
  border-radius: 25px;
  transition: all .3s;
}

.icon-button a i {
  background-color: #F60017;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  display: inline-block;
  margin-right: 15px;
  margin-left: -1px;
}

.icon-button a:hover {
  color: #F60017;
}

.icon-button a:hover i {
  color: #fff;
}

.main-button a {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 30px;
  border-radius: 25px;
  transition: all .3s;
}

.main-button a:hover {
  background-color: #F60017;
  color: #fff;
}

/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.99);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #F60017;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #F60017;
  border-radius: 50%;
}



/* 
---------------------------------------------
Header Style
--------------------------------------------- 
*/
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none; /* Initially hidden */
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #000000;
  text-align: center;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
}

.dropdown-item {
  padding: 0.25rem 1rem; /* Adjust padding as needed */
}

.dropdown-menu li {
  margin: 0;
}

.sub-header .btn-primary {
  display: inline-block;
  padding: 5px 30px;
  background-color: #F60017;  /* Customize button background color */
  color: #ffffff;  /* Text color */
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.sub-header .btn-primary:hover {
  background-color: #D50011;  /* Darker shade on hover */
  cursor: pointer;
}

.sub-header {
  background-color: #fff;
  padding: 5px 0px;
  border-bottom: 1px solid #eee;
}

.sub-header ul li {
  display: inline-block;
}

.sub-header ul.social-links {
  text-align: right;
}

.sub-header ul.social-links li {
  margin-left: 8px;
}

.sub-header ul.social-links li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #F60017;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  transition: all .3s;
}

.sub-header ul.social-links li a:hover {
  background-color: #F60017;
}

.sub-header ul.info li {
  font-size: 14px;
  color: #7a7a7a;
  border-right: 1px solid #eee;
  margin-right: 25px;
  padding-right: 25px;
}

.sub-header ul.info li:last-child {
  margin-right: 0px;
  padding-right: 0px;
  border-right: none;
}

.sub-header ul.info li i {
  font-size: 20px;
  color: #F60017;
  margin-right: 8px;
}

.background-header {
  background-color: #fff;
  height: 60px!important;
  position: fixed!important;
  top: 0!important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area {
  position: relative;
  background-color: #ffffff;
  height: 70px;
  z-index: 90;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  background: transparent;
  display: flex;
  height: 70px;
    
}

.header-area .main-nav .logo img {
  max-width: 210px;
  height: auto;
  max-height: none; /* Remove or set to a higher value if needed */
}


.header-area .main-nav ul.nav {
  flex-basis: 100%;
  margin-top: 30px;
  justify-content: right;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 5px;
  padding-right: 5px;
}

.header-area .main-nav .nav li a {
  display: block;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 8px;
  text-transform: capitalize;
  color: #1e1e1e;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: transparent;
  letter-spacing: .25px;
}


.header-area .main-nav .nav li:hover a {
  color: #F60017;
}

.header-area .main-nav .nav li a.active {
  color: #F60017;
}


.background-header .main-nav .nav li a.active {
  color: #F60017;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 20px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 22px;
}

.background-header .main-nav ul.nav {
  margin-top: 20px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.visible{
  display:inline !important;
}

@media (max-width: 1400px) {
  .header-area .main-nav .nav li {
    padding-left: 5px;
    padding-right: 5px;
  }

}

@media (max-width: 1200px) {

  .header-area .main-nav .menu-trigger {
    display: block !important; /* Make hamburger icon visible at widths less than 1200px */
  }
  
  .background-header .main-nav .nav {
    display: none; /* Hide the regular nav at this width */
  }
  
  .header-area .main-nav .menu-trigger.active + .nav {
    display: block; /* Show the menu when hamburger is clicked */
  }

  .background-header .main-nav {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 25px 25px;
    width: 100%;
  }
  .background-header .main-nav .nav,
  .header-area .main-nav .nav {
    background-color: #fff;
  }
  .background-header .main-nav .nav li a,
  .header-area .main-nav .nav li a {
    line-height: 50px;
    height: 50px;
    font-weight: 400;
    color: #fff1f1;
    background-color: #ffffff;
     border-radius: 0px 0px 25px 25px;
  }
  .background-header .main-nav .nav li,
  .header-area .main-nav .nav li {
    border-top: 1px solid #ddd;
    background-color: #f1f0fe;
    height: 50px;
    border-radius: 0px 0px 25px 25px;
  }
  .header-area .main-nav .nav {
    height: 50px;
    flex-basis: 100%;
  }
  
  .background-header .main-nav .border-button {
    top: 0px !important;
  }
  .header-area .main-nav .border-button {
    position: absolute;
    top: 15px;
    right: 70px;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #991820!important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area .nav li:last-child a {
    background-color: transparent !important;
    font-weight: 300 !important;
    text-transform: capitalize !important;
  }
  .header-area {
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }

  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #2e2525;
  }
  .header-area.header-sticky .nav {
    margin-top: 100px !important;
  }
  .background-header.header-sticky .nav {
    margin-top: 100px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #ffffff;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
}

/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-banner .item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:5% 18% 2% 18%;
  height: 600px; /* Ensure full width for proper alignment */
  margin-top: 0px;
  text-align: left; /* Align text to the right */
  width: 100%; /* Ensure full width for proper alignment */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Push all content to the right */

}

.item-2 {
  position: relative;
  overflow: hidden;
}

.item-2 .banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.main-banner .item-1 {
  background-image: url(../images/banner/1.png);
}

.main-banner .item-2 {
  background-image: url(../images/banner/2.png);
}

.main-banner .item-3 {
  background-image: url(../images/banner/3.png);
}

.main-banner .item-4 {
  background-image: url(../images/banner/4.png);
}

.main-banner .item span.category {
  background-color: #F60017;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 6px 15px;
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 8px;
  display: inline-block; /* Ensures they align properly */
  margin-left: 45%; /* Adds spacing between buttons */
}

.main-banner .item span.category.one {
  margin-left: 45%; /* Adds spacing between buttons */
}

.main-banner .item span.category.two {
  margin-left: 50%; /* Adds spacing between buttons */
}

.main-banner .item span.category.three {
  margin-left: 0%; /* Adds spacing between buttons */
}

.main-banner .item span.category.four {
  margin-left: 40%; /* Adds spacing between buttons */
}

.main-banner .item span.categorythree {
  background-color: #F60017;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 6px 15px;
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 8px;
  display: inline-block; /* Ensures they align properly */
}

.main-banner .item span.transparent {
  background-color: transparent;
  border: 2px solid #F60017; /* Border color is the same as the original background */
  color: #F60017; /* Text color to match the border */
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 6px 15px;
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 8px;
  display: inline-block; /* Ensures they align properly */
}


.main-banner .item span.category em {
  font-style: normal;
  color: #ffffff;
}

.main-banner .item h2 {
  font-size: 45px;
  font-weight: 600;
  color: #ffffff;
  line-height: 50px;
  width: 60%;
  margin-bottom: 0px;
}

.main-banner .item h2.one {
  font-size: 43px;
  font-weight: 700;
  color: #000000;
  line-height: 70px;
  width: 85%;
  margin-bottom: 0px;
  text-align: left;
  font-family: 'Baguet Script', cursive; 
  margin-left: 45%; /* Adds spacing between buttons */
  padding: 0 0 10px 0;
}

.main-banner .item p.one {
  color: #000000;
  line-height: 20px;
  margin-bottom: 0px;
  font-family: Calibri, sans-serif;
  text-align: justify;
  text-jutify: inter-word;
  width: 78%;
  margin-left: 45%; /* Adds spacing between buttons */
  padding: 0 0 10px 0;
}

.highlighted-text {
  font-family: 'Baguet Script', cursive;  /* Apply Dancing Script font */
  font-weight: 700;
  color: #F60017;
  font-size: 22px;
}

.main-banner .item h3.one {
  font-size: 29px;
  font-weight: 700;
  color: #000000;
  width: 75%;
  line-height: 35px;
  margin-bottom: 0px;
  font-family: 'Baguet Script', cursive;  /* Apply Dancing Script font */
  text-align: left;
  margin-left: 45%; /* Adds spacing between buttons */
}

.main-banner .item h2.two {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  line-height: 50px;
  width: 100%;
  margin-bottom: 0px;
  text-align: left;
  width: 75%;
  font-family: 'Amasis MT Pro', serif;
  margin-left: 50%; /* Adds spacing between buttons */
}

.main-banner .item p.two {
  font-size: 17px;
  font-weight: 100;
  color: #000000;
  margin-bottom: 0px;
  text-align: justify;
  text-jutify: inter-word;
  line-height: 20px;
  width: 75%;
  font-family: 'Amasis MT Pro', cursive;  /* Apply Dancing Script font */
  margin-left: 50%; /* Adds spacing between buttons */
  padding: 0 0 15px 0;
}

.main-banner .item p.twodown {
  font-weight: 400;
  color: #000000;
  line-height: 23px;
  margin-bottom: 0px;
  font-family: Calibri, sans-serif;
  text-align: left;
  margin-left: 50%; /* Adds spacing between buttons */
}

.main-banner .item h2.three {
  font-size: 37px;
  font-weight: 700;
  color: #ffffff;
  line-height: 50px;
  width: 75%;
  margin-bottom: 0px;
  text-align: left;
  font-family: 'Georgia Pro', Georgia, serif;
  font-style: italic;
}

.main-banner .item p.three {
  font-weight: 400;
  color: #000000;
  line-height: 20px;
  margin-bottom: 0px;
  font-family: Calibri, sans-serif;
  text-align: left;
}

.main-banner .item h2.four {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
  line-height: 50px;
  width: 80%;
  margin-bottom: 0px;
  text-align: left;
  font-family: 'Lucida Calligraphy', sans-serif;
  margin-left:  40%; /* Adds spacing between buttons */
}

.main-banner .item p.four {
  font-weight: 400;
  color: #000000;
  line-height: 10px;
  margin-bottom: 0px;
  font-family: Calibri, sans-serif;
  text-align: left;
  margin-left: 40%; /* Adds spacing between buttons */
}

.main-banner .item h2.white-text {
  color: #ffffff;
}

.main-banner .item p {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  line-height: 30px;
  margin-bottom: 0px;
  font-family: Calibri, sans-serif;
}

.main-banner .item p.white-text {
  color: #ffffff;
}

.main-banner .owl-dots {
  position: absolute;
  bottom: 120px;
  left: 10%;
}

.main-banner .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #c9c9c7;
  border-radius: 50%;
  margin-right: 10px;
  transition: all .5s;
}

.main-banner .owl-dots .active {
  background-color: #F60017;
}

.main-banner .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50px);
}

.main-banner .owl-nav .owl-prev i,
.main-banner .owl-nav .owl-next i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 70px;
  display: inline-block;
  color: #F60017;
  transition: all .3s;
}

.main-banner .owl-nav .owl-prev i {
  position: absolute;
  left: 20px;
}

.main-banner .owl-nav .owl-next i {
  position: absolute;
  right: 20px;
}

.main-banner .owl-nav .owl-prev i:hover,
.main-banner .owl-nav .owl-next i:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}



/* 
---------------------------------------------
Featured Style
--------------------------------------------- 
*/
.featured {
  text-align: center;
}


.featured .top img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}

.featured .top p.one{
  font-size: 18px;
  line-height: 1.3;
  color: #333;
  padding: 0 70px;
  border-radius: 8px;
  text-align: center;
  
}

.featured .top p.two{
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-family: "AbrilFatface", sans-serif;
}

.featured .highlighted-text {
  color: #000000;
  font-weight: bold;
}

.featured .btn-primary {
  display: inline-block;
  background-color: #F60017;  /* Customize button background color */
  color: #ffffff;  /* Text color */
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.featured .middle img {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 100px;
}


/* 
---------------------------------------------
Services_Intro Style
--------------------------------------------- 
*/


.services_intro {
  background-color: #e8e4e4;
  padding: 20px 0px 20px 0px;
}


.services_intro .serviceshead img {
  display: block;
  margin: 0 auto;
  width: 40%; 
  max-width: 100%; 
  height: auto; 
  padding-top: 60px;
}

.services_intro .rtthead img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%; 
  height: auto; 
  padding-top: 60px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: left;
  padding: 40px 0;
}

.service-item {
  background: transparent;
  padding: 20px;
}

.service-row {
  display: grid;
  grid-template-columns: 50px auto; /* First column = icon, Second column = text */
  align-items: start;
  gap: 15px;
  background: transparent;
}

.service-icon img {
  width: 40px; /* Adjust icon size */
  height: auto;
}

.service-content h3 {
  font-size: 20px;
  font-weight: bold;
  color: #F60017; /* Adjust color */
  margin: 0;
}

.service-content p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin-top: 5px;
}

.discover-more {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #F60017;
  text-decoration: none;
  border-bottom: 1px solid #F60017;
  padding-bottom: 2px;
  margin-top: 10px;
}

.discover-more:hover {
  text-decoration: underline;
}

.services_intro .cta {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
  font-style: italic;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-family: "Calibri", sans-serif;
}

.services_intro .workhead {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 700;
  font-style: italic;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-family: "Calibri", sans-serif;
}

.services .qoute img {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 100%; 
  height: auto; 
  padding-top: 30px;
}


/* 
---------------------------------------------
Services_Brain Style
--------------------------------------------- 
*/

.services_brain {
  background-color: #f1e8d9;
  padding: 20px 0px 20px 0px;
}

.services_brain .brain .coach img {
  display: block;
  margin: 0 auto;
  width: 30%;
  max-width: 100%; 
  height: auto; 
  padding-top: 80px;
}

.services_brain .brain img.head {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  padding-top: 50px;
}

.services_brain .brain p.one{
  font-size: 18px;
  line-height: 1.3;
  color: #333;
  padding: 0 70px;
  border-radius: 8px;
  text-align: center;
  padding-top: 50px;
  
}

.services_brain .brain p.two{
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
  color: #F60017;
  border-radius: 8px;
  text-align: left;
  font-family: "Quintessential", sans-serif;
  padding: 50px 70px 0px 70px;
}

.services_brain .brain p.three{
  font-size: 40px;
  line-height: 1.3;
  font-weight: 700;
  color: #333;
  border-radius: 8px;
  text-align: right;
  font-family: "PinyonScript", sans-serif;
  padding: 0px 70px 50px 70px;
}

.services_brain .highlighted-text {
  color: #000000;
  font-weight: bold;
}

.services_brain .btn-primary {
  display: inline-block;
  background-color: #571b4c;  /* Customize button background color */
  color: #ffffff;  /* Text color */
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  text-align: left;
  transition: background-color 0.3s ease;
  margin-left: 6%; /* Adds spacing between buttons */
  
}
.services_brain .brain p.four{
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  text-align: left;
  font-family: "Calibri", sans-serif;
  font-style: italic;
  padding: 60px 70px 0px 70px;
}

.services_brain .brain p.five{
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  color: #F60017;
  border-radius: 8px;
  text-align: left;
  font-family: "Calibri", sans-serif;
  padding: 10px 70px 0px 70px;
}

/* 
---------------------------------------------
Services_Finance Style
--------------------------------------------- 
*/
.services_finance {
  background-color: #e5e4e3;
  padding: 20px 0px 20px 0px;
}

.services_finance .believe img {
  display: block;
  margin: 0 auto;
  width: 53%;
  max-width: 100%; 
  height: auto; 
  padding-top: 120px;
}


.services_finance .finance img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  padding-top: 120px;
}

.services_finance .finance p.one{
  font-size: 18px;
  line-height: 1.3;
  color: #333;
  padding: 0 70px;
  border-radius: 8px;
  text-align: center;
  padding-top: 50px;
  
}

.services_finance .finance p.two{
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
  color: #F60017;
  border-radius: 8px;
  text-align: left;
  font-family: "Quintessential", sans-serif;
  padding: 50px 70px 50px 70px;
}

.services_finance .finance p.three{
  font-size: 40px;
  line-height: 1.3;
  font-weight: 700;
  color: #333;
  border-radius: 8px;
  text-align: right;
  font-family: "PinyonScript", sans-serif;
  padding: 0px 70px 50px 70
}

.services_finance .btn-primary {
  display: inline-block;
  background-color: #571b4c;  /* Customize button background color */
  color: #ffffff;  /* Text color */
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  text-align: left;
  transition: background-color 0.3s ease;
  margin-left: 6%; /* Adds spacing between buttons */
  
}

.services_finance .finance p.four{
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  text-align: left;
  font-family: "Calibri", sans-serif;
  font-style: italic;
  padding: 40px 70px 0px 70px;
}

.services_finance .finance p.five{
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  color: #F60017;
  border-radius: 8px;
  text-align: left;
  font-family: "Calibri", sans-serif;
  padding: 40px 70px 0px 70px;
}

.services_finance .brain img {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 100%; 
  height: auto; 
  padding-top: 40px;
}

/* 
---------------------------------------------
Services_Outro Style
--------------------------------------------- 
*/

.services_outro .coming img {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 100%; 
  height: auto; 
  padding-top: 80px;
}

.services_outro .coming p.four{
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
  color: #F60017;
  border-radius: 8px;
  text-align: center;
  font-family: "Calibri", sans-serif;
  padding: 30px 70px 0px 70px;
}

.services_outro .coming p.five{
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  color: #F60017;
  border-radius: 8px;
  text-align: center;
  font-family: "Calibri", sans-serif;
  padding: 10px 70px 0px 70px;
}

.services_outro .book img {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 100%; 
  height: auto; 
  padding-top: 100px;
}

.services_outro .contactme img {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 100%; 
  height: auto; 
  padding-top: 100px;
}

.services_outro .btn-contact {
  display: inline-block;
  background-color: #F60017;  /* Customize button background color */
  color: #ffffff;  /* Text color */
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-left: 43%; /* Adds spacing between buttons */
  
}

.services_outro p.bookme{
  font-size: 22px;
  line-height: 1.3;
  font-weight: 400;
  color: #1f1f1f;
  border-radius: 8px;
  text-align: center;
  font-family: "Calibri", sans-serif;
  padding: 100px 70px 0px 70px;
}

.slider {
  animation: slidein 30s linear infinite;
  white-space: nowrap;
  
  .logos {
    width:17%;
    display: inline-block;
    margin: 0px 0;
    .fab {
      width: calc(100% / 5);
      animation: fade-in 0.5s 
        cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    }
  }
}


@keyframes slidein {
from {
  transform: translate3d(0, 0, 0);
}
to {
  transform: translate3d(-100%, 0, 0);
}
}

@keyframes fade-in {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

/* 

---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer.footer-no-gap {
  margin-top: 0px;
}

footer {
  margin-top: 150px;
  background-color: #F60017;
  min-height: 100px;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

footer h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
}

footer p a {
  color: #fff;
  transition: all .3s;
  position: relative;
  z-index: 3;
}

footer p a:hover {
  opacity: 0.75;
}


/* 
---------------------------------------------
Page Header Style
--------------------------------------------- 
*/

.page-heading {
  background-image: url(../images/page-heading-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0px;
  text-align: center;
}

.page-heading span {
  background-color: #fff;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 25px;
  display: inline-block;
  margin-bottom: 30px;
}

.page-heading span a {
  color: #1e1e1e;
}

.page-heading h3 {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}


/* 
---------------------------------------------
Properties Style
--------------------------------------------- 
*/

.properties ul.properties-filter {
  list-style: none;
  text-align: center;
  margin-bottom: 70px;
}

.properties ul.properties-filter li {
  display: inline-block;
  margin: 5px 8px;
}

.properties ul.properties-filter li a {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  background-color: #1e1e1e;
  padding: 12px 25px;
  border-radius: 5px;
  transition: all .3s;
}

.properties ul.properties-filter li a.is_active {
  background-color: #f35525;
  color: #fff;
}

.properties ul.properties-filter li a.is_active:hover {
  color: #fff;
}

.properties ul.properties-filter li a:hover {
  color: #f35525;
}

.properties ul.pagination {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.properties ul.pagination li {
  display: inline-block;
  margin: 0px 5px;
}

.properties ul.pagination li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50%;
  transition: all .3s;
}

.properties ul.pagination li a:hover,
.properties ul.pagination li a.is_active {
  background-color: #f35525;
  color: #fff;
}


/* 
---------------------------------------------
Single Page Style
--------------------------------------------- 
*/

.single-property .main-image img {
  float: none;
}

.single-property .main-content h4 {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.single-property .main-content span.category {
  background-color: #fbd9cf;
  font-weight: 500;
  border-radius: 5px;
  font-size: 14px;
  color: #1e1e1e;
  padding: 5px 12px;
  display: inline-block;
  margin-top: 40px;
}

.single-property .accordion {
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  --bs-accordion-border-radius: 10px;
  --bs-accordion-inner-border-radius: 10px;
  --bs-accordion-bg: #fafafa;
  --bs-accordion-border-color: none;
  border: none !important;
}

.single-property .accordion-header {
  border-bottom: 1px solid #eaeaea;
}

.single-property .accordion-button {
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  color: #1e1e1e;
}

.single-property .accordion-button:not(.collapsed) {
  color: #f35525;
  background-color: #fafafa;
  outline: none;
}

.single-property .accordion-button::after {
  display: none;
}

.single-property #headingThree {
  border-bottom: none;
}

.single-property .accordion-item:last-of-type .accordion-collapse {
  border-top: 1px solid #eaeaea;
}

.single-property .info-table {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  margin-left: 60px;
}

.single-property .info-table ul li {
  display: block;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #eee;
}

.single-property .info-table ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.single-property .info-table ul li img {
  float: left;
  margin-right: 25px;
}

.single-property .info-table ul li h4 {
  font-size: 22px;
  font-weight: 600;
}

.single-property .info-table ul li h4 span {
  font-size: 15px;
  color: #aaa;
  font-weight: 400;
}


/* 